vdc-nodered/flow.json
[
    {
        "id": "5f08c6b7.a687b8",
        "type": "tab",
        "label": "Patient Flow"
    },
    {
        "id": "da8af1c3.c61e9",
        "type": "MySQLdatabase",
        "z": "",
        "host": "mysql",
        "port": "3306",
        "db": "DITAS",
        "tz": ""
    },
    {
        "id": "26dde343.177b4c",
        "type": "CassandraDatabase",
        "z": "",
        "hosts": "cassandra",
        "port": "9042",
        "keyspace": "osr"
    },
    {
        "id": "70ff866e.6e355",
        "type": "http in",
        "z": "5f08c6b7.a687b8",
        "name": "getPatient",
        "url": "/patient/:ssn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "8f2679ff.f37608",
                "e5d63321.fe35e8",
                "e7254f63.f2e348"
            ]
        ]
    },
    {
        "id": "8f2679ff.f37608",
        "type": "function",
        "z": "5f08c6b7.a687b8",
        "name": "cassandra-query",
        "func": "msg.topic=\"Select * from exams where ssn=\"+msg.req.params.ssn\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "a75a1781.aeec08"
            ]
        ]
    },
    {
        "id": "e5d63321.fe35e8",
        "type": "function",
        "z": "5f08c6b7.a687b8",
        "name": "mysql-query",
        "func": "msg.topic=\"Select * from patient where ssn =\"+msg.req.params.ssn\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 353,
        "y": 538,
        "wires": [
            [
                "fe5387ae.716c6"
            ]
        ]
    },
    {
        "id": "fe5387ae.716c6",
        "type": "mysql",
        "z": "5f08c6b7.a687b8",
        "mydb": "da8af1c3.c61e9",
        "name": "",
        "x": 550,
        "y": 520,
        "wires": [
            [
                "167c005c.2e0958"
            ]
        ]
    },
    {
        "id": "a75a1781.aeec08",
        "type": "cassandra",
        "z": "5f08c6b7.a687b8",
        "mydb": "26dde343.177b4c",
        "name": "",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "167c005c.2e0958"
            ]
        ]
    },
    {
        "id": "167c005c.2e0958",
        "type": "join",
        "z": "5f08c6b7.a687b8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "x": 738,
        "y": 488,
        "wires": [
            [
                "23212b6f.48ee4c",
                "ef2da763.ae342"
            ]
        ]
    },
    {
        "id": "23212b6f.48ee4c",
        "type": "http response",
        "z": "5f08c6b7.a687b8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 958,
        "y": 482,
        "wires": []
    },
    {
        "id": "e7254f63.f2e348",
        "type": "function",
        "z": "5f08c6b7.a687b8",
        "name": "extractTrace",
        "func": "var traceid = msg.req.headers['x-b3-traceid']\nvar spanid =  msg.req.headers['x-b3-spanid']\nvar sampled = msg.req.headers['x-b3-sampled']\nvar parentspanid = msg.req.headers['x-b3-parentspanid']\n\nif (sampled === \"1\") {\n    msg.payload = {\n        traceid:traceid,\n        spanid:(Math.random()*0xFFFFFFFFFFFFFF<<0).toString(16),\n        parentspanid:spanid,\n        operation:\"nodered\",\n    }\n}\nmsg.topic = \"trace\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "bf4e38b8.65883",
                "430c37ae.267af8"
            ]
        ]
    },
    {
        "id": "bf4e38b8.65883",
        "type": "http request",
        "z": "5f08c6b7.a687b8",
        "name": "begin Trace",
        "method": "PUT",
        "ret": "txt",
        "url": "http://localhost:8484/v1/trace",
        "tls": "",
        "x": 630,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "30e498e0.01e0f",
        "type": "function",
        "z": "5f08c6b7.a687b8",
        "name": "completTrace",
        "func": "msg.payload = msg.payload.trace\nvar traceid = msg.payload.traceid\nvar spanid =  msg.payload.spanid\nvar parentspanid = msg.payload.parentspanid\n\nmsg.payload = {\n    traceid:traceid,\n    spanid:spanid,\n    parentspanid:parentspanid,\n    operation:\"nodered\",\n}\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "df00a254.5d53f"
            ]
        ]
    },
    {
        "id": "df00a254.5d53f",
        "type": "http request",
        "z": "5f08c6b7.a687b8",
        "name": "close trace",
        "method": "POST",
        "ret": "txt",
        "url": "http://localhost:8484/v1/close",
        "tls": "",
        "x": 1210,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "430c37ae.267af8",
        "type": "join",
        "z": "5f08c6b7.a687b8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "x": 890,
        "y": 320,
        "wires": [
            [
                "30e498e0.01e0f"
            ]
        ]
    },
    {
        "id": "ef2da763.ae342",
        "type": "change",
        "z": "5f08c6b7.a687b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 360,
        "wires": [
            [
                "430c37ae.267af8"
            ]
        ]
    }
]